@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.UnitOfMeasures.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new TimeManager.Default.UnitOfMeasuresGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>